.daterangepicker {
	width: 250px;
	padding: 5px;
	box-shadow: black 0 1px 6px;
	position: absolute;
	z-index: 500;
	background-color: #fff;
}
.daterangepicker .nav {
	position: relative;
	text-align: center;
	padding: 0 0 8px;
}
.daterangepicker .nav .prev_month, .daterangepicker .nav .next_month {
	display: block;
	position: absolute;
	height: 100%;
	width: 20px;
	text-decoration: none;
}
.daterangepicker .nav .prev_month {
	left: 0;
}
.daterangepicker .nav .next_month {
	right: 0;
}

.daterangepicker .infinities {
	position: relative;
}
.daterangepicker .infinities .minusinfin {
	float: left;
	width: 40% !important;
}
.daterangepicker .infinities .plusinfin {
	float: right !important;
	width: 40% !important;
}

.daterangepicker .calendar .date {
	display: block;
	float: left;
	width: 14.28%;
	margin: 0 0;
	text-decoration: none;
}
.daterangepicker .calendar .date span {
	display: block;
	padding: 4px 0;
	text-align: center;
	color: #000;
	border: solid #fff 1px;
}
.daterangepicker .calendar .inactive span {
	background-color: #ccc;
}
.daterangepicker .calendar .hilite span {
	background-color: #fa3;
}
.daterangepicker .calendar .startrange span {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.daterangepicker .calendar .endrange span {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.daterangepicker .clr {
	clear: both;
}