.daterangepicker {
	width: 250px;
	border: solid 1px #ddd;
	padding: 5px;
}
.daterangepicker .nav {
	position: relative;
	text-align: center;
	padding: 4px 0;
}
.daterangepicker .nav .prev_month, .daterangepicker .nav .next_month {
	display: block;
	position: absolute;
	height: 100%;
	width: 20px;
	text-decoration: none;
}
.daterangepicker .nav .prev_month {
	left: 0;
}
.daterangepicker .nav .next_month {
	right: 0;
}
.daterangepicker .calendar .date {
	display: block;
	float: left;
	width: 14.2%;
	margin: 0 0;
	text-decoration: none;
}
.daterangepicker .calendar .date span {
	display: block;
	padding: 4px 0;
	text-align: center;
	color: #000;
	border: solid #fff 1px;
}
.daterangepicker .calendar .inactive span {
	background-color: #ccc;
}
.daterangepicker .calendar .hilite span {
	background-color: #fa3;
}
.daterangepicker .calendar .startrange span {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.daterangepicker .calendar .endrange span {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.daterangepicker .clr {
	clear: both;
}